<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
<head>
  <title><%= title %></title>
</head>
<body class="login-page">
  <h1><%= title %></h1>

  <% if (messages && messages.notice && messages.notice.length > 0) { %>
    <% messages.notice.forEach(function(msg) { %>
      <p class="notice"><%= msg %></p>
    <% }) %>
  <% } %>

  <% if (typeof errors !== 'undefined' && errors && errors.length > 0) { %>
    <ul class="errors">
      <% errors.forEach(function(error) { %>
        <li><%= error.msg || error %></li>
      <% }) %>
    </ul>
  <% } %>

  <form id="loginForm" action="/account/login" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="account_email" value="<%= typeof account_email !== 'undefined' ? account_email : '' %>" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="account_password" required>

    <button type="submit">Login</button>
  </form>

  <p class="register-link"><a href="/account/signup">Don't have an account? Register</a></p>
</body>
</html>
