<!-- filepath: c:\Users\curtis siahe\Documents\University Course\340-Backend-dev\views\account\update.ejs -->
<h1>Update Account Information</h1>
<% if (errors && errors.length > 0) { %>
  <ul>
    <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>
<form action="/account/update" method="post">
  <input type="hidden" name="account_id" value="<%= account_id %>">
  <div>
    <label for="account_firstname">First Name:</label>
    <input type="text" id="account_firstname" name="account_firstname" value="<%= account_firstname %>" required>
  </div>
  <div>
    <label for="account_lastname">Last Name:</label>
    <input type="text" id="account_lastname" name="account_lastname" value="<%= account_lastname %>" required>
  </div>
  <div>
    <label for="account_email">Email:</label>
    <input type="email" id="account_email" name="account_email" value="<%= account_email %>" required>
  </div>
  <button type="submit">Update</button>
</form>